[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
requests = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.11"
